body {

  background-color: darkkhaki;
  font-size: medium;
  font-family: Calibri, sans-serif;
  margin: 0 !important;
}

nav {
  width: auto;
  padding: 0.2em 1em;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: darkolivegreen;
  background-color: orange;
  list-style-type: none;
  border: 4px dashed;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em 0.5em;
  margin-top: 0;
  border-right: 2px dashed;
  border-left: 2px dashed;
  background-color: orange;
  min-width: 13% ;
  height:1em;
}

#top {
  margin-left: auto;
  margin-right: auto;	
	
}

#log {
  color: black; 	
}

.nav:hover {
	background-color:darkorange;
	cursor: pointer;
}

#logo {
 padding: 1em 0;
 border: 0px;
 margin-right: auto;
 margin-left: auto;
}

#main {
 width: 70%;
 padding-right: 0em;
 padding-left: 2em;
 padding-top: 2em;
 padding-bottom: 4em;
 margin-right: auto;
 margin-left: auto;
 margin-top: 1em;
 margin-bottom: 1em;
 color: darkolivegreen;
 text-align: justify;
 border: 4px dashed;
}

#maincontent {
  float: left;
  width: auto;
  max-width: 70%;
}

aside {
  float: right;
  padding: 1em;
  border-top: 4px dashed;
  border-bottom: 4px dashed;
  border-left: 4px dashed;
  color: darkolivegreen;
  background-color: orange;
  font-weight: bold;
  width: 20em;
  
  
}
	
footer {
  clear: both;
  text-align: center;
  color: darkolivegreen;
}

img {
	max-width: 100%;
	border: 2px dashed;
}

h1 {
  color: orange;
  font-family: 'Cabin Sketch', cursive;
  font-size: 4.5em;
  text-align: center;
  text-shadow: .05em -.05em 0.15em black,
               .1em .1em 0.15em gray;
}

h2 {
  word-spacing: 1.5em;
  letter-spacing: 0.5em;
  text-align: center;
  color: darkolivegreen;
}
p {
  color: black;
}

a {
  text-decoration: none;
  color: darkolivegreen; 
}
a:hover {
  color: black;
}
a:active{
  color: orange;
}

#basket {
  background: url('img/mono-basket.png');
  background-size: 6em 6em;
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-color: orange;
  
}
.zam {
	padding-left: 0.5em;
	padding-right:2em;
	float: left;
}

.zamowienie
{
	padding: 0.5em;
	margin-top: 2em;
	background-color: orange;
	border-style: solid;
	border-width: 1px;
}

.s {
	padding-left: 0.5em;
	width: 20%;
	font-size:0.8em;
	float: left;
}

.szczegoly {
	border-bottom-style: dashed;
	border-width:0.5px;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: red !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

	.button {
    background-color: white;
    border: 1px solid #bbbbbb;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    text-decoration: none;
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 3px 10px;
}
 
.button:active {
    -moz-box-shadow: 2px 2px 3px #cccccc inset;
    -webkit-box-shadow: 2px 2px 3px #cccccc inset;
    box-shadow: 2px 2px 3px #cccccc inset;
}

table {
	font-size: 0.8em;
	margin-left: 0%;
	padding-left: 0;
}